header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.user_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.user_info img {
	width: 2rem;
	height: 2rem;
}

.issue_content code {
	display: block;
	width: 100%;
	overflow: scroll;
}
